<h1>Editing post</h1>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>
	<p>
    <%= f.label :category %><br />
    <%= f.collection_select :section_id,Section.all,:id,:name %>
  </p>
  <p>
    <%= f.label :tittle %><br />
    <%= f.text_field :tittle %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
